.contact-info {
    background: #f8f9fa;
    border: 1px solid #cec9c9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-info i {
    color: #09232f;
    font-size: 34px;
}

.custom-form label {
    font-size: 15px;
}

.custom-form .form-control {
    margin-bottom: 25px;
    height: 55px;
    border: 1px solid #97a0af;
    box-shadow: none !important;
    outline: none !important;
}

.custom-form .form-control:focus {
    border-color: #000 !important;
}

.custom-form textarea.form-control {
    height: auto;
}

.custom-form label {
    font-size: 15px;
}

.error {
    margin: 8px 0px;
    display: none;
    color: red;
}

#ajaxsuccess {
    font-size: 16px;
    width: 100%;
    display: none;
    clear: both;
    margin: 8px 0px;
}

.error_message {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #f36270;
    color: #f36270;
    border-radius: 5px;
    font-size: 14px;
}

.contact-loader {
    display: none;
}

#success_page {
    text-align: center;
    margin-bottom: 50px;
}

#success_page h3 {
    color: #0dba26;
    font-size: 22px;
}

