  .rocket {
    width: 200px;
    top: 25%;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    animation: vibrate 0.3s ease infinite;
  }
  .rocket svg {
    width: 200px;
    fill: #5c2e91;
  }
  .rocket svg .fire {
    transition: all ease-in-out 1s;
    stroke: #5c2e91;
  }
  .rocket svg .fire.first {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: dash 0.2s ease infinite;
  }
  .rocket svg .fire.second {
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
    animation: dash2 0.2s ease infinite;
  }
  .rocket svg .fire.third {
    stroke-dasharray: 85;
    stroke-dashoffset: 0;
    animation: dash 0.2s ease infinite;
  }
  
  .sky {
    transform: rotate(45deg);
  }
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 50;
    }
    50% {
      stroke-dashoffset: 70;
    }
    80% {
      stroke-dashoffset: 60;
    }
    100% {
      stroke-dashoffset: 50;
    }
  }
  @-webkit-keyframes dash2 {
    0% {
      stroke-dashoffset: 100;
    }
    50% {
      stroke-dashoffset: 120;
    }
    80% {
      stroke-dashoffset: 110;
    }
    100% {
      stroke-dashoffset: 100;
    }
  }
  @keyframes vibrate {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-1px, 1px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes skyspace {
    0% {
      transform: translate(0, -200px) scale(1, 0);
      opacity: 0.8;
    }
    100% {
      transform: translate(0, 300px) scale(1, 2);
      opacity: 0;
    }
  }
  